*~
local_tests/**

dnanexus/temp

SCG3/jss_test

SCG3/spp.py

SCG3/spp.sh

*.narrowPeak

*.regionPeak

*.bb

dnanexus/encsr

*.input

*.output

dnanexus/accessionator/resources/keypairs.json

dnanexus/wgEncodeDacMapabilityConsensusExcludable.bed.gz

output_comparisons/ENCSR000BUA/ENCFF001UPV.broadPeak

output_comparisons/ENCSR000BUA/ENCFF001UPW.broadPeak

*.bam

dnanexus/ENCFF000XUL-chr21.regionPeak_vs_ENCFF000XUK-chr21.regionPeak.IDRv2..pooled_common_IDRv2.narrowPeak.gz

dnanexus/ENCFF000XUL-chr21.regionPeak_vs_ENCFF000XUK-chr21.regionPeak.IDRv2..IDR0.02.narrowPeak.gz

dnanexus/ENCFF000XUL-chr21.regionPeak_vs_ENCFF000XUK-chr21.regionPeak.IDRv2..log.txt

*.pyc

.DS_Store

**/.aws/credentials
**/.aws/config
**/keypairs.json


